# exclude compiled binaries and external models
/bin

# exclude R stuff
.Rproj.user
.DS_Store
.Rhistory
src/.Rapp.history
config/.Rapp.history

# data files
.RDS
.xlsx

# data folders
# exclude everything
data/raw/*
data/temp/*
data/processed/*

# exception to the rule
!data/raw/.gitkeep 
!data/temp/.gitkeep
!data/processed/.gitkeep

# remove manuscript files
docs/manuscript*
results/figures/RDS/*
results/figures/SVG/*
results/*.csv
results/output/*