# exclude compiled binaries and external models
/bin

# exclude R stuff
.Rproj.user
.DS_Store
.Rhistory

# data files
.RDS
.xlsx

# data folders
# exclude everything
data/raw/*
data/processed/*

# exception to the rule
!data/raw/.gitkeep 
!data/processed/.gitkeep